<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - aspmvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/aspmvc.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">aspmvc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                    <li class="nav-item">
                        <a  class="btn btn-info" asp-controller="Blog" asp-action="Create">Add Blog</a>
                    </li>
                    </ul>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item ">
                            @if(User.Identity.IsAuthenticated)
                            {
                                <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                                    <a href="javascript: $('#logout').submit()" class="last">
                                        Logout
                                        <br /><span class="tagline">@User.Identity.Name</span>
                                    </a>
                                </form>
                            } else
                            {
                                <a href="@Url.Action("Login", "Account")" tabindex="-1" title="log in" class="nav-link text-dark">
                                    Login
                                </a>
                              
                            }
                        </li>
                        <li class="nav-item">
                          <a href="@Url.Action("Register","Account")" class="btn btn-info">Sign UP, It's Free !</a>
                        </li>
                        </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - aspmvc - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>